
@{
    ViewData["Title"] = "snipetFromBook";
}

<h1>snipetFromBook</h1>

  @*      <input id="color" name="color" type="radio" value="red" />
        <input checked="checked" id="color" name="color" type="radio" value="blue" />
        <input id="color" name="color" type="radio" value="green" />*@


